body {
  margin: 0;
}

.topBar {
  padding: 10px 100px;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

.topBarMenuDiv {
  padding: 10px;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.topBarMenus {
  color: black;
  text-decoration: none;
  justify-content: center;
  padding: 12px;
}

.topBarMenus:hover {
  color: white;
  background-color: #e02c6d;
  text-decoration: none;
  justify-content: center;
  padding: 12px;
  border-radius: 10px;
}

.section1 {
  justify-content: space-between;
  display: flex;
  padding: 100px;
}

.section1Image {
  border: #e02c6d solid 3px;
}

.section1Image:hover {
  border: #e02c6d solid 3px;
  background-color: #f58ab1a1;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section1Text {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
}

#section1Paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 0.45em;
}

.buttonStyle {
  background-color: #e02c6d;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.5em;
  color: white;
  border: none;
}

.buttonStyle:hover {
  background-color: #e02c6d;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.55em;
  color: white;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logoSection {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  border-top: rgba(167, 164, 164, 0.479) solid 1px;
  border-bottom: rgba(167, 164, 164, 0.479) solid 1px;
  margin: 0px 100px;
}

.popularSection {
  padding: 10px 100px;
  color: black;
  text-decoration: none;
  display: grid;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

#popularSectionTitle {
  padding: 10px 100px;
  color: black;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.popularSectionCard {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.starStyle {
  color: orange;
  font-size: 0.5em;
}

.seeMore {
  padding: 10px 100px;
  display: flex;
  justify-content: flex-end;
  font-family: 'Poppins', sans-serif;
  color: #e02c6d;
  font-weight: bold;
  font-size: 0.8em;
}
