body {
  margin: 0;
}

.topBar {
  padding: 10px 100px;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

.topBarMenuDiv {
  padding: 10px;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.topBarMenus {
  color: black;
  text-decoration: none;
  justify-content: center;
  padding: 12px;
}

.topBarMenus:hover {
  color: white;
  background-color: #e02c6d;
  text-decoration: none;
  justify-content: center;
  padding: 12px;
  border-radius: 10px;
}

.section1 {
  justify-content: space-between;
  display: flex;
  padding: 100px;
}

.section1Image {
  border: #e02c6d solid 3px;
}

.section1Image:hover {
  border: #e02c6d solid 3px;
  background-color: #f58ab1a1;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section1Text {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
}

#section1Paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 0.5em;
  font-weight: 600;
  padding-right: 100px;
}

.buttonStyle {
  background-color: #e02c6d;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.5em;
  color: white;
  border: none;
}

.buttonStyle:hover {
  background-color: #e02c6d;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.55em;
  color: white;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logoSection {
  padding: 10px 100px;
  padding-top: 30px;
  padding-bottom: 15px;
  /* display: flex; */
  /* justify-content: space-evenly; */
  border-top: rgba(167, 164, 164, 0.479) solid 1px;
  border-bottom: rgba(167, 164, 164, 0.479) solid 1px;
  margin: 0px 100px;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(7, 1fr);
}

.popularSection {
  padding: 10px 100px;
  color: black;
  text-decoration: none;
  display: grid;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

#popularSectionTitle {
  padding: 10px 100px;
  color: black;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.popularSectionCard {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.starStyle {
  color: orange;
  font-size: 0.5em;
}

.seeMore {
  padding: 10px 100px;
  display: flex;
  justify-content: flex-end;
  font-family: 'Poppins', sans-serif;
  color: #e02c6d;
  font-weight: bold;
  font-size: 0.8em;
}

.seeMore:hover {
  font-size: 1em;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(21, 18, 36);
  color: white;
  text-align: center;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font: 1.5em sans-serif;
  font-weight: bold;
  padding: 50px;
  display: flex;
  justify-content: center;
}

#footSmallText {
  font: 0.5em sans-serif;
  font-weight: normal;
}

.socialMediaIcons {
  display: flex;
  justify-content: center;
}

.creativeSection {
  padding: 10px 100px;

  color: black;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

#creativeSectionTitle {
  padding: 10px 100px;
  color: black;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

#sellTitle {
  padding: 10px 100px;
  color: black;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.discountSection {
  padding: 10px 100px;
  color: black;
  text-decoration: none;
  display: grid;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.discountSectionCard {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.discountSectionCard:hover {
  padding: 10px;
}
.sellPriceStyle {
  font-size: 1.3em;
  text-decoration: line-through;
}

.afterSellPriceStyle {
  font-size: 1.3em;
  color: #e02c6d;
  font-weight: bold;
}

@media (max-width: 700px) {
  .topBar {
    padding: 10px 50px;
    color: black;
    background-color: #e02c6d;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
  }
  .topBarMenuDiv {
    display: none;
  }

  .buttonStyle {
    background-color: #e02c6d;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.5em;
    color: white;
    border: none;
    margin-bottom: 50px;
  }

  .section1 {
    display: grid;
    padding: 50px;
    flex-direction: column;
  }
  .section1Image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: #e02c6d solid 3px;
  }

  .logoSection {
    padding: 10px 100px;
    padding-top: 30px;
    padding-bottom: 15px;
    /* display: flex; */
    /* justify-content: space-evenly; */
    border-top: rgba(167, 164, 164, 0.479) solid 1px;
    border-bottom: rgba(167, 164, 164, 0.479) solid 1px;
    margin: 0px 100px;
    margin-left: 100px;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .imgLogo {
    padding: 10px;
  }
  .popularSection {
    padding: 10px 50px;
    color: black;
    text-decoration: none;
    display: grid;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .creativeSection {
    padding: 10px 50px;

    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: bold;
  }

  #creativeSectionTitle {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
  }

  .discountSection {
    padding: 10px 100px;
    color: black;
    text-decoration: none;
    display: grid;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(21, 18, 36);
    color: white;
    text-align: center;
    height: 150px;
    font-family: 'Poppins', sans-serif;
    font: 1.5em sans-serif;
    font-weight: bold;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 701px) and (max-width: 1200px) {
  .topBar {
    padding: 10px 100px;
    color: black;
    background-color: #e02c6d;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
  }
  .topBarMenuDiv {
    display: none;
  }

  .buttonStyle {
    background-color: #e02c6d;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.5em;
    color: white;
    border: none;
    margin-bottom: 50px;
  }

  .section1 {
    display: flex;
    padding: 100px;
    flex-direction: column;
  }

  .section1Image {
    display: flex;
    justify-content: center;
    border: #e02c6d solid 3px;
  }

  .logoSection {
    padding: 10px 100px;
    padding-top: 30px;
    padding-bottom: 15px;
    /* display: flex; */
    /* justify-content: space-evenly; */
    border-top: rgba(167, 164, 164, 0.479) solid 1px;
    border-bottom: rgba(167, 164, 164, 0.479) solid 1px;
    margin: 0px 100px;
    margin-left: 100px;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
  .imgLogo {
    padding: 10px;
  }
  .popularSection {
    padding: 10px 100px;
    color: black;
    text-decoration: none;
    display: grid;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  .creativeSection {
    padding: 10px 100px;

    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: bold;
  }

  #creativeSectionTitle {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
  }

  .discountSection {
    padding: 10px 100px;
    color: black;
    text-decoration: none;
    display: grid;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(21, 18, 36);
    color: white;
    text-align: center;
    height: 150px;
    font-family: 'Poppins', sans-serif;
    font: 1.5em sans-serif;
    font-weight: bold;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}
