body {
  margin: 0;
}

.topBar {
  background-color: cadetblue;
  padding: 10px 100px;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

.topBarMenuDiv {
  padding: 10px;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.topBarMenus {
  color: black;
  text-decoration: none;
  justify-content: center;
  padding: 12px;
}

.section1 {
  background-color: violet;
  justify-content: space-between;
  display: flex;
  padding: 100px;
}

.section1Text {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
}

#section1Paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 0.45em;
}

.buttonStyle {
  background-color: #e02c6d;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.3em;
  color: white;
  border: none;
}
